.task-item {
  border: 1px solid transparent;
  margin: 20px;
  padding: 20px;
  display: flex;
  border-radius: 10px;
}
.task-item:hover {
  border: 1px solid #447ffd;
}
.task-item input[type="checkbox"] {
  top: 12px;
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #447ffd;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin-top: -10px;
  margin-right: 20px;
}

.task-item input[type="checkbox"]:checked {
  background-color: #447ffd;
  border-color: #447ffd;
}

.task-item input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 24px;
  position: absolute;
  top: -5px;
  left: 4px;
}

.task-item label {
  flex: 1;
  margin-top: 5px;
  font-size: large;
}

.task-item button {
  margin-top: -5px;
  font-weight: bold;
  color: #db1e3d;
  background-color: white;
  height: 40px;
  padding: 5px 15px;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  font-size: large;
  cursor: pointer;
}
.task-item button:hover {
  background-color: #fd4463;
  color: white;
}

.task-item button:focus {
  outline: none;
}

.task-item label.taskDone {
  font-style: italic;
  text-decoration: line-through;
  color: #999;
}
