* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: white;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
  max-width: 1024px;
  padding: 16px;
  margin: 10px;
  background: #fff;
  color: #222;
  border: 4px solid #c6c1cf;
  border-radius: 12px;
}

@media (max-width: 480px) {
  #root {
    max-width: 375px;
    padding: 12px;
  }
}
